<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Master of Engineering in Computer Science</h1>
            <span>Wrocław University of Technology</span>
            <span><address>Wrocław, Poland</address><time>JAN 2014 - SEP 2016</time></span>
        </header>
        <p>
            <em>Thesis: Timing attacks and strong stationary times</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelor of Engineering in Computer Science</h1>
            <span>Wrocław University of Technology</span>
            <span><address>Wrocław, Poland</address><time>OCT 2010 - JAN 2014</time></span>
        </header>
        <p>
            <em>Thesis: Random Generation of Combinatorial Structures using Boltzmann Samplers</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelor of Science in Physics</h1>
            <span>Wrocław University of Technology</span>
            <span><address>Wrocław, Poland</address><time>OCT 2011 - SEP 2016</time></span>
        </header>
    </article>
</section>
