<section class="thirteen columns">
    <h1>Professional experience</h1>
    <article>
        <header>
            <h1>Developer Intern</h1>
            <h2>Goldman Sachs</h2>
            <span><address>Tokyo, Japan</address><time>JAN 2016 - AUG 2016</time></span>
        </header>
        <p>
            <ul>
                <li>enhancing a framework for quick deployment of RESTful applications</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Openlab Summer Student</h1>
            <h2>CERN</h2>
            <span><address>Geneva, Switzerland</address><time>SUMM 2015</time></span>
        </header>
        <p><ul>
        <li> improved security of the federated identity authentication mechanism in the Openstack Keystone Identity Service </li>
        <li> researched the deployment of large-scale cloud environments </li>
        </ul></p>
    </article>
    <article>
        <header>
            <h1>Developer Intern</h1>
            <h2>Opera Software</h2>
            <span><address>Linköping, Sweden</address><time>SUMM 2014</time></span>
        </header>
        <p><ul>
        <li> developed a generic test automation framework for the mobile web browser </li>
        <li> increased efficiency of the testing process across multiple devices and operating systems </li>
        </ul></p>
    </article>
    <article>
        <header>
            <h1>Python Trainee</h1>
            <h2>Nokia Solutions and Networks</h2>
            <span><address>Wrocław, Poland</address><time>SUMM 2013</time></span>
        </header>
    </article>
</section>
