<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Vulcanus in Japan Fellowship</h1>
            <span><address>Tokyo, Japan</address><time>SEP 2015 - AUG 2016</time></span>
        </header>
        <p>
            <ul>
                <li>a four-month intensive Japanese language course</li>
                <li>an eight-month traineeship in a Japanese company.</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Geosynaptic Panel Project Developer</h1>
            <span><address>National Synchrotron Radiation Centre Solaris, Kraków, Poland</address><time>SUMM 2013</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Workshop on Physics</h1>
            <span><address>University of Strasbourg, France</address><time>2014</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Workshop on Laser Technology and Fiber-optic Communication</h1>
            <span><address>Université Libre de Bruxelles, Belgium</address><time>2013</time></span>
        </header>
    </article>
</section>