<section class="thirteen columns">
    <h1>Languages</h1>
    <article>
        <p>
        <h1> Polish </h1>
        <em>native</em>
        </p>    
        <p>
        <h1>English</h1> 
        <em><a href="https://en.wikipedia.org/wiki/Cambridge_English:_Proficiency">Certificate of Proficiency in English, C2</a></em>
        </p>
        <p>
        <h1>Japanese</h1> 
        <em><a href="https://en.wikipedia.org/wiki/Japanese-Language_Proficiency_Test">日本語能力試験, N4</a></em>
        </p>
        <p>
        <h1>Spanish</h1> 
        <em><a href="https://en.wikipedia.org/wiki/Common_European_Framework_of_Reference_for_Languages">A2</a></em>
        </p>
        <p>
        <h1>German</h1>
        <em><a href="https://en.wikipedia.org/wiki/Common_European_Framework_of_Reference_for_Languages">A2</a></em>
        </p>
    </article>
</section>